.miss-title {
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  flex: 1 1;
}

.miss-counter {
  display: flex;
  justify-content: center;
  border: 0.5rem;
  border-style: outset;
  border-color: #4b4e41;
  background-color: rgb(224, 214, 200);
  padding: 1rem;
  margin: 0px;
  flex: auto;
}
